.buttons_button {
  width: 72px;
  display: block;
}

.buttons_hide {
  display: none;
}

.buttons_td {
  width: 72px;
  padding: 3px;
}

.buttons_td_on {
  width: 72px;
  padding: 3px;
  background-color: red;
}