.active {
  background-color: red;
  cursor: pointer;
}

.inactive {
  filter: grayscale(1);
}

.est_td {
  padding: 3px;
  position: relative;
}

.est_img {
  width: 114px;
  height: 182px;
  display: block;
}

.est_num {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: 14px;
}