.active {
  background-color: red;
  cursor: pointer;
}

.inactive {
  filter: grayscale(1);
}

.coin_td {
  position: relative;
}

.coin_img {
  width: 25px;
}

.coin_num {
  position: absolute;
  text-align: center;
  top: 5px;
  width: 25px;
  color: white;
  font-size: 14px;
}

.land_td {
  padding: 3px;
}

.name_div {
  padding: 3px;
}

.name_text {
  width: 80px;
  background: white;
  overflow: hidden;
  font-size: 10pt;
}

.land_img_self {
  width: 70px;
  display: block;
}

.land_img {
  width: 35px;
  display: block;
}

.estmini_div_self {
  width: 100px;
  margin: 0 auto;
  padding-left: 3px;
  padding-right: 3px;
}

.estmini_div {
  width: 80px;
  margin: 0 auto;
  padding-left: 3px;
  padding-right: 3px;
}

.estmini_img_self {
  width: 100%;
  display: block;
}

.estmini_img {
  width: 100%;
  display: block;
}
